.projects {
  text-align: left;
  padding: 50px 20px;
  width: 1920px;
  height: 308px;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: repeating-linear-gradient(
    135deg,
    #0077cc,
    #0077cc 20px,
    #005fa3 20px,
    #005fa3 40px
  );
  color: #fff;
}

.title {
  margin-left: 240px;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  overflow: hidden;
  padding-left: 240px;
  gap: 20px;
}

.card {
  margin: 0;
  padding: 0;
  position: relative;
  background: #fff;
  color: #333;
  border-radius: 8px;
  width: 463px;
  height: 420px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card * {
  opacity: 1;
  margin: 0;
  padding: 0;
  text-align: left;
}

.card img {
  width: 463px;
  height: auto;
  object-fit: none;
}

.card p {
  padding-left: 30px;
  text-align: left;
  font: normal normal normal 18px/22px Helvetica Neue;
  letter-spacing: 0px;
  color: #171717;
  text-transform: uppercase;
  opacity: 1;
}

.p-holder {
  position: absolute;
  display: grid;
  place-items: center;
  top: 285px;
  left: 10px;
  width: 443px;
  height: 125px;
  background-color: white;
}
